# Python Day 3

### Text formatting / formation/concatination

In [ ]:
# no space beacuse of the separator

# Rules For Python Variables : 

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

In [44]:
student_name = 'Muhammad Faisal'
print(student_name)

Muhammad Faisal

In [46]:
# Return and non Return
# isky answer ko varible mai dal sken it is returnin some variable
a = len("Faisal")
print(a)

6

In [47]:
# Non Return fucntion
b = print('Faisal')
print(b)
print(b)

Faisal
None
None

In [ ]:
"""
Saylani Mass IT
Muhammad Faisal

"""

# Concatination
## Using The F Method

In [59]:
# Using The F Method
first_name = "Muhammad Faisal"
last_name = "Malik "
institute_name = "Saylani Mass IT Training"
age = 23
card = f"Name: {first_name} {last_name} \nInstitute Name : {institute_name} \nAge: {age}"
print(card)

Name: Muhammad Faisal Malik
Institute Name : Saylani Mass IT Training
Age: 23

## Traditional Plus (+) Method

In [57]:
#Traditional Method with string only
card = "Name: "+ first_name +"\nInstitute Name :"+institute_name
print(card)

Name: Muhammad Faisal
Institute Name :Saylani Mass IT Training

In [60]:
# Traditional Method with The Error Of Int
#Traditional Method with string only
card = "Name: "+ first_name +"\nInstitute Name :"+institute_name+ "\nAge: "+age
print(card)

TypeError: can only concatenate str (not "int") to str

In [61]:
# Traditional Method with The TypeCasting Of Int
#Traditional Method with string only
card = "Name: "+ first_name +"\nInstitute Name :"+institute_name+ "\nAge: "+str(age)
print(card)

Name: Muhammad Faisal
Institute Name :Saylani Mass IT Training
Age: 23

## The Format Method

In [65]:
# The Format Method
Card2 = """
Institute Name :{}
Name :  {} {}
Age : {}

""".format(institute_name,first_name,last_name,age)
print(Card2)

Institute Name :Saylani Mass IT Training
Name :  Muhammad Faisal Malik
Age : 23

In [67]:
# The Format Method Without Sequence
# The Format Method
Card2 = """
Institute Name :{3}
Name :  {2} {1}
Age : {0}

""".format(institute_name,first_name,last_name,age)
print(Card2)

Institute Name :23
Name :  Malik  Muhammad Faisal
Age : Saylani Mass IT Training

# With F

In [68]:
# The F Method By Sir
Card2 = f"""
Institute Name :{institute_name}
Name :  {first_name} {last_name}
Age : {age}

"""
print(Card2)

Institute Name :Saylani Mass IT Training
Name :  Muhammad Faisal Malik
Age : 23

# The % Method

In [70]:
Card2 = """
Institute Name :%s
Name :  %s %s
Age : %d

"""%(institute_name,first_name,last_name,age)
print(Card2)

Institute Name :Saylani Mass IT Training
Name :  Muhammad Faisal Malik
Age : 23

In [77]:
# for seeing method attribute
#That changes it is inline 
# That changes The Memory Is 
j=0
method = dir(Card2)
for i in method:
    if "_" not in i:
        print(j,i)
        j = j+1

0 capitalize
1 casefold
2 center
3 count
4 encode
5 endswith
6 expandtabs
7 find
8 format
9 index
10 isalnum
11 isalpha
12 isascii
13 isdecimal
14 isdigit
15 isidentifier
16 islower
17 isnumeric
18 isprintable
19 isspace
20 istitle
21 isupper
22 join
23 ljust
24 lower
25 lstrip
26 maketrans
27 partition
28 removeprefix
29 removesuffix
30 replace
31 rfind
32 rindex
33 rjust
34 rpartition
35 rsplit
36 rstrip
37 split
38 splitlines
39 startswith
40 strip
41 swapcase
42 title
43 translate
44 upper
45 zfill

In [90]:
print(Card2.isdigit())
#How Many Times Name Is Written
print(Card2.count("Name"))
print(Card2.upper())
#Chain Rule
print(Card2.casefold().count('FAISAL'))
print(first_name.encode(encoding="ascii"))

False
2

INSTITUTE NAME :SAYLANI MASS IT TRAINING
NAME :  MUHAMMAD FAISAL MALIK
AGE : 23


0
b'Muhammad Faisal'

# Home Work
#### Apply 45 String Metods On Card Method

In [94]:
print(Card2.split("\n"))

['', 'Institute Name :Saylani Mass IT Training', 'Name :  Muhammad Faisal Malik ', 'Age : 23', '', '']