# Operators
<img src="https://th.bing.com/th/id/OIP.uQL9o0Zk5kL1lhs4XANrjwAAAA?pid=ImgDet&rs=1">

# Python Operators
<img src="https://techvidvan.com/tutorials/wp-content/uploads/sites/2/2019/12/python-operators.jpg">

## Logical Operators
### **And, Or, Not**
<img src="https://www.examtray.com/sites/default/files/2020-11/python-logical-operators-table_0.jpg">


## Arthimetic Operators
### +, -, %, *, /, //, **Pow
<img src="https://th.bing.com/th/id/R.52845e95f7aa70bedf9ff4eb22f5982c?rik=A%2b57g1bLvVDCBA&pid=ImgRaw&r=0">

## Assingment Operators
### =, +=, -=, **=, //=, /=, *=
<img src= "https://th.bing.com/th/id/OIP.qVNVIJNbZhHfLBrDyrPGZQHaD8?pid=ImgDet&rs=1">

## Comparison Operators
### **>, <, >=, <+, ==**
<img src="https://th.bing.com/th/id/R.8d4c57c4eee71ac75aa7bfcd4dd66fe3?rik=qUIvQlX3Vm0oZA&pid=ImgRaw&r=0">

## Identity Operators
### **is, is not**
<img src="https://th.bing.com/th/id/R.e91fcf89af41dd3074f770e457696917?rik=plITPJ%2fUaa06UQ&pid=ImgRaw&r=0">

## Membership Operators
### **in, not in**
<img src="https://th.bing.com/th/id/R.0b82fc6579fa58ad5471962dd3f519c7?rik=%2bTYRxVCeX%2feelw&pid=ImgRaw&r=0">

* Operators works with different data Types is Called Data Overloading
*

In [1]:
#Addition Operation

num1 = 1
num2 = 2
print(num1 + num2)

#Concationation Operation

num1 = "1"
num2 = "2"
print(num1+num2)

3
12

In [6]:
# Concatiion With Diffrent Data Types

num1 = "1"
num2 = 2
print(f"num1: {type(num1)} + num2: {type(num2)}")
print(num1 + num2)

num1: <class 'str'> + num2: <class 'int'>

TypeError: can only concatenate str (not "int") to str

In [8]:
## Merging Both Of The Lists
l1 = ['a','b','c']
l2 = [1,2,3]
print(f"l1: {type(l1)} + l2: {type(l2)}")
print(l1 , l2)
print(l1 + l2)

l1: <class 'list'> + l2: <class 'list'>
['a', 'b', 'c'] [1, 2, 3]
['a', 'b', 'c', 1, 2, 3]

## Arthimetic Operators

In [12]:
x = """Operator	Name	Example	
+	Addition	x + y	
-	Subtraction	x - y	
*	Multiplication	x * y	
/	Division	x / y	
%	Modulus	x % y	
**	Exponentiation	x ** y	
//	Floor division	x // y""".expandtabs(20)
print(x)

Operator            Name                Example
+                   Addition            x + y
-                   Subtraction         x - y
*                   Multiplication      x * y
/                   Division            x / y
%                   Modulus             x % y
**                  Exponentiation      x ** y
//                  Floor division      x // y

In [14]:
x = 10
y = 20
print(x+y)
print(x-y)
print(x/y)
print(x*y)
print(x**y)
print(x//y)
print(x%y)

30
-10
0.5
200
100000000000000000000
0
10

## Assingment Operators

In [15]:
x = """Operator	Example	Same As	
=	x = 5	x = 5	
+=	x += 3	x = x + 3	
-=	x -= 3	x = x - 3	
*=	x *= 3	x = x * 3	
/=	x /= 3	x = x / 3	
%=	x %= 3	x = x % 3	
//=	x //= 3	x = x // 3	
**=	x **= 3	x = x ** 3	
&=	x &= 3	x = x & 3	
|=	x |= 3	x = x | 3	
^=	x ^= 3	x = x ^ 3	
>>=	x >>= 3	x = x >> 3	
<<=	x <<= 3	x = x << 3	""".expandtabs(20)
print(x)

Operator            Example             Same As
=                   x = 5               x = 5
+=                  x += 3              x = x + 3
-=                  x -= 3              x = x - 3
*=                  x *= 3              x = x * 3
/=                  x /= 3              x = x / 3
%=                  x %= 3              x = x % 3
//=                 x //= 3             x = x // 3
**=                 x **= 3             x = x ** 3
&=                  x &= 3              x = x & 3
|=                  x |= 3              x = x | 3
^=                  x ^= 3              x = x ^ 3
>>=                 x >>= 3             x = x >> 3
<<=                 x <<= 3             x = x << 3

In [25]:
a =5 
print(a)

# a = a + 5
a  += 5
print(a)

# a = a - 5
a  -= 5
print(a)

# a = a * 5
a *= 5
print(a)

# a = a / 5

a /= 5
print(a)

a //=5
print(a)

b = 10

b **=10
print(b)

5
10
5
25
5.0
1.0
10000000000

## Bitwise Operator

In [83]:
x = """Operator	Description	Example	
& 	And	x & y	
|	OR	x | y	
^	XOR	x ^ y	
~	NOT	~x	
<<	Shift left 	x << 2	
>>	Shift rightf	x >> 2""".expandtabs(30)
print(x)

Operator                      Description                   Example
&                             And                           x & y
|                             OR                            x | y
^                             XOR                           x ^ y
~                             NOT                           ~x
<<                            Shift left                    x << 2
>>                            Shift rightf                  x >> 2

In [38]:


#First Convert It Into Binary Then And It With The Binary Of The Next Operand The Resultant Binary Will Be Converted Into The Integar
x = 3
y = 1
#Binary AND
print(x & y)
#Binary OR
print( x | y)
#Binary Left Shift
print(x >> y)
#Binary Right Shift
print( x << y)
#Binary XOR
print( x ^ y)
#Binary NOT
print(~y)

1
3
1
6
2
-2

## Comparison Operation

In [36]:
x = """Operator	Name	Example	
==	Equal	x == y	
!=	Not equal	x != y	
>	Greater than	x > y	
<	Less than	x < y	
>=	Greater than or equal to	x >= y	
<=	Less than or equal to	x <= y""".expandtabs(30)
print(x)

Operator                      Name                          Example
==                            Equal                         x == y
!=                            Not equal                     x != y
>                             Greater than                  x > y
<                             Less than                     x < y
>=                            Greater than or equal to      x >= y
<=                            Less than or equal to         x <= y

In [53]:
x = 10
y = 20

print(x == y)
print(x != y)
print( x > y)
print( x < y)
print(x >= y)
print(x <= y)

a = 'Faisal'
b = "faisal"
print(a < b)

False
True
False
True
False
True
True

## Logical Operators

In [92]:
x = """
Operator        Description                                               Example
and             Returns True if both statements are true                  x < 5 and  x < 10
or              Returns True if one of the statements is true             x < 5 or x < 4
not             Reverse the result                                        not(x < 5 and x < 1"""
print(x)

Operator        Description                                               Example
and             Returns True if both statements are true                  x < 5 and  x < 10
or              Returns True if one of the statements is true             x < 5 or x < 4
not             Reverse the result                                        not(x < 5 and x < 1

In [60]:
x = 1
b = 2

print("AND")
## AND Logical Operator
print( x >1 and b > 2)
print( x ==1 and b == 2)
print( x ==1 or b > 2)

print("OR")
# OR Logical Operator
print( x >1 or b > 2)
print( x ==1 or b == 2)
print( x ==1 or b > 2)

print("NOT")
# Not Logical Operator
print( not(x >1 or b > 2))
print( not(x ==1 or b == 2))
print( not(x ==1 or b > 2))

AND
False
True
True
OR
False
True
True
NOT
True
False
False

## Identity Operator

In [74]:
x = """Operator	Description	                                        Example	
is 	Returns True if both variables are the same object	x is y	
is not	Returns True if both variables are not the same object	x is not y""".expandtabs(20)
print(x)

Operator            Description                                                 Example
is                  Returns True if both variables are the same object          x is y
is not              Returns True if both variables are not the same object      x is not y

In [61]:
x = 1
y = 1

#Checing on a Memory Level
print(x is y)
print( y is not x)

True
False

## Membrship Operator

In [97]:
x = """Operator	Description	                                        Example	
in 	Returns True if value is present in the object	x in y	
not in	Returns True if value is not present in the object	x not in y""".expandtabs(20)
print(x)

Operator            Description                                                 Example
in                  Returns True if value is present in the object              x in y
not in              Returns True if value is not present in the object          x not in y

In [63]:


x = [1,2,3,4,5]
print(1 in x)
print ( 1 not in x)

True
False

In [ ]:
# Deep Copy vs #Shell Copy

# Completley two seperates objects
# Shallow Copy Is The Copy Of Object Change in it Does not Effects The Real Object

## Shallow Copy

In [100]:
#Memory Managment In Python

a =5
b = 5
c = 5
print(id(a), id(b), id (c))

1386583910832 1386583910832 1386583910832

## Deep Copy

In [106]:
name = ["Faisal"]
# It Will Not Save On Same On Memory Level
name1 = name.copy() # Deep Copy In Different Object With Same Value But Different Values

print(id(name), id(name1))

1386703645888 1386705246208

In [107]:
print( name1 is name)
print(name1 == name)

False
True